@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

:root{


  --background-color : #967969;
  --main-color : #eaddca;
  --sub-text-color: #ffffff;
  --nav-background-color: #5c4033;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-family: 'Parkinsans';
  font-size: 62.5%;
  height: 100%;
}

body{
  font-family: 'Parkinsans';
  background: var(--background-color);
  height: 100%;
}

#root{
  height: 100%;
}